body {
    background-color: cornsilk;
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    color: rgb(0, 0, 78);
    font-family: fantasy;
    font-size: 40px;
}

img {
    margin-bottom: 10px;
}